@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

@define-color bg0T #282828e6;
@define-color bg1T #3c3836e6;
@define-color bg2T #504945e6;
@define-color bg3T #665c54e6;
@define-color bg4T #7c6f64e6;

@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color red #cc241d;
@define-color redL #fb4934;

@define-color orange #d65d0e;
@define-color orangeL #fe8019;

@define-color green #98971a;
@define-color greenL #b8bb26;

@define-color yellow #d79921;
@define-color yellowL #fabd2f;

@define-color blue #458588;
@define-color blueL #83a598;

@define-color purple #b16286;
@define-color purpleL #d3869b;

@define-color aqua #689d6a;
@define-color aquaL #8ec07c;

@define-color accent #d65d0e;
