@import "waybarColors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "monospace";

    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @fg0;
}

tooltip {
    background: @bg2;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @bg2;
}

#workspaces button {
    padding: 5px;
    color: @fg4;
}

#workspaces button:first-child {
    border-radius: 10px 0 0 10px;
}

#workspaces button:last-child {
    border-radius: 0 10px 10px 0;
}

#workspaces button:only-child {
    border-radius: 10px;
    background-color: @bg0;
    color: @fg2;
}

#workspaces button.active {
    background-color: @bg0;
}


#workspaces button.active:only-child {
    background-color: transparent;
}

#workspaces button.focused {
    background:  @redL;
}

#workspaces button.urgent {
    color: @bg2;
    background: @green;
}

#workspaces button:hover {
    background: @bg2;
}

#custom-swaync,
#window,
#clock,
#custom-battery,
#pulseaudio,
#network,
#bluetooth,
#custom-cpu,
#custom-memory,
#workspaces,
#tray,
#backlight {
    background: @bg0;
    opacity: 0.8;
    padding: 0px 10px;
    /* margin: 3px 0px; */
    margin: 0px 0px;
    margin-top: 10px;
    border: 1px solid @bg1;
}

#custom-memory {
    color: @green;
}

#custom-memory.warning {
    color: @orange;
}

#custom-memory.critical {
    color: @red;
}

#custom-cpu {
    color: @green;
    border-radius: 10px 0px 0px 10px;
}

#custom-cpu.warning {
    color: @orange;
}

#custom-cpu.critical {
    color: @red;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 0px 10px 10px 0px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding: 0;
}

#custom-swaync {
    color: #e1f7d5;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    border-right: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#custom-battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}
#custom-battery.warning {
    color: #FFA500;
}
#custom-battery.critical {
    color: #F00;
} 
