[Desktop Entry]
Name=ChatGPT
Exec=chromium --app=https://chatgpt.com
Terminal=false
Type=Application
Categories=Network;WebApp;
Icon=/home/tim/arch-rice/dotfiles/webapps/.local/share/icons/webapps/chatgpt.png
