configuration{
    modi: "run";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "  Run ";
    sidebar-mode: false;
}
@theme "~/.config/rofi/themes/theme.rasi"
